/* ===============================
   SIDEBAR
================================ */
.sidebar-section {
  height: 100vh;
}

.sidebar {
  width: 250px;
  height: 100vh;

  background: #111827;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 10px;
}

/* LOGO */
.sidebar-logo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* MENU */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ITEM */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;
}

.sidebar-item:hover {
  background: #374151;
}

/* ICON */
.sidebar-icon {
  font-size: 16px;
}

/* LOGOUT */
.sidebar-logout {
  margin-top: auto;
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar-item span {
    display: none; /* hide text */
  }

  .sidebar-logo {
    font-size: 16px;
  }
}

.sidebar-item.active {
  background: #4f46e5;
  color: white;
}